body {
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    color: white;
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 150px;
    height: 50px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 10px ;
}

.header-link a {
    text-decoration: none;
    color: beige;
    font-size: 20px;
    padding: 10px;
}


/* First-Section-After-Header */
.First-Section-After-Header {
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.h1-Left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.First-Section-After-Header button {
    display: block;
    width: 100px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
}
.h1-Right img{
    width: 492px;
    height: 277px;

}


/* Second-Section-After-Header*/
.Genre-Type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Genre-Type img {
    width: 248px;
    height: 140px;
    object-fit: cover;
    border: 1px solid #3882f6;
    border-radius: 10px;
    margin: 5px 10px;
}
/* Third-Section-After-Header */
.Third-Section-After-Header {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.Third-Section-After-Header p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.Third-Section-After-Header b {
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: right;
}

/* Fourth-Section-After-Header */
.Fourth-Section-After-Header {
    background-color: #3882f6;
    margin: 50px 100px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.Fourth-Left {
    flex: 1;
    text-align: left;
}

.Fourth-Left p {
    color: white;
    margin: 5px 30px;
}

h3 {
    color: white;
    margin: 30px;
}

.Fourth-Right button{
    color: white;
    border-color: white;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 15px;
}


/* Footer */
.Footer {
    background-color: #1f2937;
    color: white;
}
